// Логотип
.logo {
  width: 160px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-6px);

  .logo-image {
    width: 100%;
    height: auto;
    max-height: 32px;
    object-fit: contain;
    vertical-align: middle;
  }
} 